sidsHackerTracker.flow
[{"id":"ccce80ea.dd95f","type":"tab","label":"SSH HoneyPot Tweeter #ThingSpeak"},{"id":"c65fb009.fb986","type":"function","z":"ccce80ea.dd95f","name":"Global Counter","func":"Array.prototype.unique = function(){\n    return this.reduce(function(accum,current){\n        if (accum.indexOf(current) < 0) {\n            accum.push(current);\n            \n        }\n        return accum;\n        \n    }, []);\n}\n\nallGvars = global.get('allGvars') || [\"\"];\n\n\nvar ipcount = global.get(String(msg.ip).replace(/\\./g,\"x\"))||0;\nvar tmp = String(msg.ip).replace(/\\./g,\"x\"); //add var name to global array of variable names\nallGvars.push(tmp);\nipcount += 1;\nglobal.set(String(msg.ip).replace(/\\./g,\"x\"),ipcount);\nmsg.ipcount = ipcount;\n\n\nvar loccount = global.get(String(msg.loc).replace(\" \",\"_\"))||0;\ntmp = String(msg.loc).replace(\" \", \"_\"); //add var name to global array of variable names\nallGvars.push(tmp)\nloccount += 1;\nglobal.set(String(msg.loc).replace(\" \",\"_\"),loccount);\nmsg.loccount = loccount;\n\nvar usercount = global.get(msg.user)||0;\nallGvars.push(msg.user);\nusercount += 1;\nglobal.set(msg.user, usercount);\nmsg.usercount = usercount;\n\n//allGvars = allGvars.unique();\n\nmsg.payload=String(msg.ip).replace(/\\./g,\"x\")||0;\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":342,"wires":[["d0f2227d.b9f5c"]]},{"id":"31da4e90.9c0c12","type":"debug","z":"ccce80ea.dd95f","name":"","active":true,"console":"true","complete":"true","x":710,"y":320,"wires":[]},{"id":"9a81f2b0.3cd72","type":"exec","z":"ccce80ea.dd95f","command":"geoiplookup ","addpay":true,"append":"","useSpawn":false,"timer":"","name":"","x":1232,"y":149,"wires":[["5e0d87e4.812988"],[],[]]},{"id":"5e0d87e4.812988","type":"function","z":"ccce80ea.dd95f","name":"geoParser","func":"function uniq(a) {\n    var prims = {\"boolean\":{}, \"number\":{}, \"string\":{}}, objs = [];\n\n    return a.filter(function(item) {\n        var type = typeof item;\n        if(type in prims)\n            return prims[type].hasOwnProperty(item) ? false : (prims[type][item] = true);\n        else\n            return objs.indexOf(item) >= 0 ? false : objs.push(item);\n    });\n}\n\n\n\nif (msg.payload !== \"GeoIP Country Edition: IP Address not found\\n\"){\n   temp = msg.payload.replace(\"GeoIP Country Edition: \", \"\").split(\", \")[1];\n   msg.loc = temp;\n}\nelse{\n    msg.loc = \"Unknown\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":143,"y":312,"wires":[["6a253b21.7d1524"]]},{"id":"c6181df9.62aae","type":"split","z":"ccce80ea.dd95f","name":"Splitter","splt":"\\n","x":200,"y":60,"wires":[["79eeb4d7.5e868c"]]},{"id":"79eeb4d7.5e868c","type":"switch","z":"ccce80ea.dd95f","name":"null check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"\"\"","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","outputs":3,"x":360,"y":60,"wires":[[],[],["4d015ce6.603384"]]},{"id":"4d015ce6.603384","type":"function","z":"ccce80ea.dd95f","name":"ip to payload","func":"\n\nvar retrIP = /\\b\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\b/;\nvar newip = msg.payload.match(retrIP);\ntry{\n  msg.ip = newip[0];\n}\ncatch(err){\n    return null;\n}\nmsg.message = msg.payload;\nreturn [msg];","outputs":"2","noerr":0,"x":486,"y":152,"wires":[["44aa945c.9116cc"],[]]},{"id":"6a253b21.7d1524","type":"switch","z":"ccce80ea.dd95f","name":"","property":"loc","propertyType":"msg","rules":[{"t":"regex","v":"IP Address not found","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":2,"x":148.5,"y":345,"wires":[["84a488c9.6253c8"],["c65fb009.fb986"]]},{"id":"d0f2227d.b9f5c","type":"function","z":"ccce80ea.dd95f","name":"output","func":"\nvar dt = new Date();\n//get current utc time\nvar utcDate = dt.toUTCString();\n\n\nfunction makeid()\n{\n    var text = \"\";\n    var possible = \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789\";\n\n    for( var i=0; i < 10; i++ )\n        text += possible.charAt(Math.floor(Math.random() * possible.length));\n\n    return text;\n}\nif(msg.ipcount > 20){\n    var banned = \"\";\n    msg.ban = \"yes\";\n}else{\n    var banned = \"\";\n}\n\nfunction randyHash(){\n    \n    var hash = [\n        \"iot\",\"raspberrypi\",\"hacktrack\",\"ipsec\",\"infosec\",\"hackeralert\",\"usefulBots\",\"nodered\",\"rpi\",\"network\",\n        \"linux\", \"nodejs\",\"javascript\",\"security\",\"yourHashHere\",\"cheapBotsForYou\",\"nodes\",\"dev\",\"programming\",\"hackerhunter\",\"sec\",\n        \"automation\",\"autoblockOption\",\"mrSiDBoT\",\"openport\",\"networkmonitor\",\"logs\",\"iptables\",\"blacklist\",\"banThisIP\",\n        \"hacksters\",\"hackattack\",\"hackertracker\",\"securityalert\",\"bot\",\"hackertrap\",\"networksecurity\",\"netsec\",\"infoshare\",\"infoattack\"\n    \n        \n    ];\n    var item = hash[Math.floor(Math.random()*hash.length)];\n    return item;\n}\nmsg.randhash = randyHash();\nmsg.tweet =  utcDate + \" #Hacker:#ssh:#BruteForce:\\n\" + msg.user +  \"(\" + msg.usercount + \") \\n\"  + msg.ip + \"(\" + msg.ipcount + \")\\n\" + \" \" + msg.loc + \"(\" + msg.loccount + \") \\n\" +  \"Began: \" + global.get(\"startTime\");\nmsg.payload = msg.tweet;\nreturn msg;","outputs":1,"noerr":0,"x":526.5,"y":410,"wires":[["4d96a7b.f80c058","c8568780.675f18","353683c9.42028c","6c3bc92e.e0bd58","393637e2.2e0cb8","89b4b56.e54a748","a3044c3b.a5df8","31da4e90.9c0c12"]]},{"id":"84a488c9.6253c8","type":"function","z":"ccce80ea.dd95f","name":"Loc Unknown","func":"msg.loc = \"Unknown\"\nreturn msg;","outputs":1,"noerr":0,"x":353.5,"y":310,"wires":[["c65fb009.fb986"]]},{"id":"a948c461.409498","type":"comment","z":"ccce80ea.dd95f","name":"FLOW README","info":"Created By Sid @ sidthetech@gmail.com\n\nThis flow sifts through the failed password\nlogin attempts in /var/auth.log file.\nParses the information line by line and chunks\nthe data into individual entities and outputs a\nstring with all data in a report.\n\nFurther functionality will include a database to \nkeep track of data, running count of visits, \nand how many times a particular country attacks.\n\n--Added geoiplookup, ui, instance counts, and  \n  visual graphs.\n  \n--Oct 1 2017 - Added Numeric Value field to set limit of Failed attempts\n","x":140,"y":120,"wires":[]},{"id":"c2f6053f.0721e8","type":"twitter out","z":"ccce80ea.dd95f","twitter":"","name":"Tweet","x":1248.5,"y":731,"wires":[]},{"id":"d6ce8180.5e46","type":"delay","z":"ccce80ea.dd95f","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"13","nbRateUnits":"15","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1209.5,"y":663,"wires":[["c2f6053f.0721e8"]]},{"id":"44aa945c.9116cc","type":"switch","z":"ccce80ea.dd95f","name":"","property":"message","propertyType":"msg","rules":[{"t":"cont","v":"invalid user ","vt":"str"},{"t":"cont","v":"Failed password for pi","vt":"str"},{"t":"cont","v":"Failed password for root","vt":"str"},{"t":"cont","v":"Too many","vt":"str"}],"checkall":"false","outputs":4,"x":670,"y":143,"wires":[["a188c49e.863498"],["9fcbc86e.f664f8"],["9fcbc86e.f664f8"],[]]},{"id":"a188c49e.863498","type":"function","z":"ccce80ea.dd95f","name":"'invalid user'","func":"var user = msg.payload.match(\"invalid user \" + \"(.*)\" + \" from \")[1];\nmsg.user = user.replace(\"invalid user\", \"\");\nmsg.payload = msg.ip;\nmsg.type = \"invalid user\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":100,"wires":[["9a81f2b0.3cd72"]]},{"id":"9fcbc86e.f664f8","type":"function","z":"ccce80ea.dd95f","name":"Line Modifiers from Switch Contains","func":"var user = msg.payload.match(\"Failed password for \" + \"(.*)\" + \" from \")[1];\nmsg.user = user;\nmsg.payload = msg.ip;\nmsg.type = \"failed password\";\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":150,"wires":[["9a81f2b0.3cd72"]]},{"id":"698a8697.7e0ec8","type":"delay","z":"ccce80ea.dd95f","name":"rate limit NO DROP","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"14","nbRateUnits":"15","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":733,"wires":[["c2f6053f.0721e8"]]},{"id":"b9ff85e0.fa1f78","type":"link in","z":"ccce80ea.dd95f","name":"Link from Other Flows","links":[],"x":685,"y":807,"wires":[["698a8697.7e0ec8"]]},{"id":"551a559c.fe096c","type":"exec","z":"ccce80ea.dd95f","command":"blockip ","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":1444,"y":329.5,"wires":[["59629317.c7fcec"],[],[]]},{"id":"6c3bc92e.e0bd58","type":"switch","z":"ccce80ea.dd95f","name":"IP count > failed limit","property":"ipcount","propertyType":"msg","rules":[{"t":"gt","v":"denylimit","vt":"global"}],"checkall":"true","outputs":1,"x":720,"y":360,"wires":[["ba95fad0.a22098"]]},{"id":"ba95fad0.a22098","type":"function","z":"ccce80ea.dd95f","name":"mod payload to ip","func":"msg.payload = msg.ip;\nreturn msg;","outputs":1,"noerr":0,"x":748,"y":395,"wires":[["736d9a3b.5c0d54","99359465.6fa748","f7977d2e.3de29"]]},{"id":"497dabe9.c7c804","type":"inject","z":"ccce80ea.dd95f","name":"reset / report","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":163,"y":441,"wires":[["9046d7fd.1baaa8"]]},{"id":"9046d7fd.1baaa8","type":"function","z":"ccce80ea.dd95f","name":"daily reset / report","func":"var foo = [];\n\nfor (var g in global){\n    foo.push(g);\n}\nmsg.payload = foo;\nreturn msg;","outputs":1,"noerr":0,"x":352,"y":441,"wires":[[]]},{"id":"ad57f172.cfca8","type":"tcp in","z":"ccce80ea.dd95f","name":"incoming","server":"server","host":"","port":"18846","datamode":"single","datatype":"utf8","newline":"","topic":"","base64":false,"x":380,"y":760,"wires":[["698a8697.7e0ec8"]]},{"id":"3987c753.5c91d8","type":"inject","z":"ccce80ea.dd95f","name":"RUN ONCE at STARTUP / TIME GET","topic":"","payload":"Resetting SSH Hacker Count","payloadType":"str","repeat":"","crontab":"","once":true,"x":800,"y":40,"wires":[["7c3cf51a.8c232c"]]},{"id":"7c3cf51a.8c232c","type":"function","z":"ccce80ea.dd95f","name":"","func":"\nvar dt = new Date();\nglobal.set('allGvars', []); //holds list of variable names\n\n//get current utc time\nvar utcDate = dt.toUTCString();\n\nglobal.set(\"startTime\",utcDate);\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":40,"wires":[[]]},{"id":"4d96a7b.f80c058","type":"function","z":"ccce80ea.dd95f","name":"location set","func":"msg.payload = msg.loccount;\nmsg.topic = msg.loc;\nreturn msg;","outputs":1,"noerr":0,"x":694,"y":453,"wires":[["d87776a1.fc2158"]]},{"id":"c8568780.675f18","type":"function","z":"ccce80ea.dd95f","name":"IP count set","func":"msg.payload = msg.ipcount;\nmsg.topic = String(msg.ip).replace(/\\./g,\"_\");\nreturn msg;","outputs":1,"noerr":0,"x":695,"y":488,"wires":[["1f24442c.0912fc"]]},{"id":"1f24442c.0912fc","type":"ui_chart","z":"ccce80ea.dd95f","name":"by ip","group":"4c968ec4.15939","order":1,"width":"0","height":"0","label":"by IP","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":891,"y":488,"wires":[[],[]]},{"id":"353683c9.42028c","type":"ui_text","z":"ccce80ea.dd95f","group":"c890c82f.87a388","order":4,"width":"15","height":"1","name":"","label":"Latest Tweet","format":"{{msg.payload}}","layout":"col-center","x":1105,"y":493,"wires":[]},{"id":"736d9a3b.5c0d54","type":"function","z":"ccce80ea.dd95f","name":"Tweet Formatter","func":"msg.payload = \"Congratulations to IP: \" + msg.ip + \": Is now officially on my shitty-list for too many failed SSH attemts. #Banned #BlackList #ShitListed\";\nreturn msg;","outputs":1,"noerr":0,"x":981,"y":402,"wires":[["d5cc56c7.895448"]]},{"id":"d5cc56c7.895448","type":"delay","z":"ccce80ea.dd95f","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1218,"y":402,"wires":[[]]},{"id":"393637e2.2e0cb8","type":"function","z":"ccce80ea.dd95f","name":"Username count set","func":"msg.payload = msg.usercount;\nmsg.topic = msg.user;\nreturn msg;","outputs":1,"noerr":0,"x":724,"y":526,"wires":[["e461e23a.49d52"]]},{"id":"e461e23a.49d52","type":"switch","z":"ccce80ea.dd95f","name":"PI users","property":"user","propertyType":"msg","rules":[{"t":"eq","v":"root","vt":"str"},{"t":"eq","v":"pi","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":922,"y":558,"wires":[["22c33603.c67b1a"],["993f07c8.b3aba8"],["c1ae9642.e6e978"]]},{"id":"22c33603.c67b1a","type":"ui_text","z":"ccce80ea.dd95f","group":"ffe86b88.a2ef08","order":1,"width":"0","height":"0","name":"","label":"root user tries:","format":"{{msg.usercount}}","layout":"col-center","x":1120,"y":530,"wires":[]},{"id":"993f07c8.b3aba8","type":"ui_text","z":"ccce80ea.dd95f","group":"ffe86b88.a2ef08","order":2,"width":"0","height":"0","name":"","label":"pi user tries:","format":"{{msg.usercount}}","layout":"col-center","x":1111,"y":565,"wires":[]},{"id":"89b4b56.e54a748","type":"ui_switch","z":"ccce80ea.dd95f","name":"","label":"Tweet It","group":"bc9f755f.71cf08","order":1,"width":"4","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":488,"y":674,"wires":[["4ac910db.1bf21"]]},{"id":"99359465.6fa748","type":"ui_switch","z":"ccce80ea.dd95f","name":"","label":"Block IP","group":"bc9f755f.71cf08","order":2,"width":"4","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":937,"y":340,"wires":[["d49cf133.1ff94"]]},{"id":"f7977d2e.3de29","type":"function","z":"ccce80ea.dd95f","name":"format ip to payload","func":"msg.payload = msg.ip;\nreturn msg;","outputs":1,"noerr":0,"x":1271,"y":330,"wires":[["551a559c.fe096c"]]},{"id":"d49cf133.1ff94","type":"switch","z":"ccce80ea.dd95f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":1093,"y":300,"wires":[["f7977d2e.3de29"],[]]},{"id":"8cf56b61.6027e8","type":"function","z":"ccce80ea.dd95f","name":"msg.tweet to payload","func":"msg.payload = String(msg.tweet).substring(0,139);\nreturn msg;","outputs":1,"noerr":0,"x":848,"y":602,"wires":[["d6ce8180.5e46"]]},{"id":"4ac910db.1bf21","type":"function","z":"ccce80ea.dd95f","name":"","func":"if(msg.payload === 1){\n    global.set('tweetit',true);    \n}else\n{\n    global.set('tweetit',false);\n}\n\n//msg.payload = global.get('tweetit');\nreturn msg;","outputs":1,"noerr":0,"x":612,"y":674,"wires":[[]]},{"id":"a3044c3b.a5df8","type":"function","z":"ccce80ea.dd95f","name":"switch if tweetit ===true","func":"if(global.get('tweetit')===true){\n    return msg;\n}else\n{\n    return;\n}\n","outputs":1,"noerr":0,"x":605,"y":603,"wires":[["8cf56b61.6027e8"]]},{"id":"bbb5e6be.0052b8","type":"debug","z":"ccce80ea.dd95f","name":"","active":true,"console":"false","complete":"true","x":828,"y":692,"wires":[]},{"id":"59629317.c7fcec","type":"debug","z":"ccce80ea.dd95f","name":"","active":true,"console":"false","complete":"false","x":1643.5,"y":327,"wires":[]},{"id":"95558588.adeea8","type":"tail","z":"ccce80ea.dd95f","name":"tailer","filetype":"text","split":true,"filename":"/var/log/auth.log","x":70,"y":60,"wires":[["c6181df9.62aae"]]},{"id":"d87776a1.fc2158","type":"ui_chart","z":"ccce80ea.dd95f","name":"location lookup","group":"b88a372b.c24238","order":3,"width":"0","height":"0","label":"Location Lookup","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":932.5,"y":445,"wires":[[],[]]},{"id":"8cf85b4e.1d7258","type":"debug","z":"ccce80ea.dd95f","name":"","active":true,"console":"false","complete":"true","x":1378.5,"y":204,"wires":[]},{"id":"e42f46d2.3bb718","type":"function","z":"ccce80ea.dd95f","name":"","func":"global.set('denylimit',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":956.5,"y":251,"wires":[[]]},{"id":"2dbbfaf8.14c506","type":"ui_numeric","z":"ccce80ea.dd95f","name":"","label":"Failed Attempt Limit","group":"bc9f755f.71cf08","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"9999","step":1,"x":745.5,"y":268,"wires":[["e42f46d2.3bb718"]]},{"id":"c1ae9642.e6e978","type":"ui_chart","z":"ccce80ea.dd95f","name":"latest ","group":"ffe86b88.a2ef08","order":3,"width":"0","height":"0","label":"As User Name","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1090,"y":599,"wires":[[],[]]},{"id":"58691a99.240e94","type":"comment","z":"ccce80ea.dd95f","name":"HOW TO INSTALL","info":"You will need to install:\n\napt-get install geoip-bin  \n\nto get the geo-location lookup information\n\nand you will need to setup your Twitter Node for Tweets","x":150,"y":160,"wires":[]},{"id":"4c968ec4.15939","type":"ui_group","z":"","name":"IP","tab":"93210f40.92adb","order":3,"disp":true,"width":"15"},{"id":"c890c82f.87a388","type":"ui_group","z":"","name":"Tweet","tab":"93210f40.92adb","order":2,"disp":true,"width":"15"},{"id":"ffe86b88.a2ef08","type":"ui_group","z":"","name":"User Names","tab":"93210f40.92adb","order":4,"disp":true,"width":"15"},{"id":"bc9f755f.71cf08","type":"ui_group","z":"","name":"Settings","tab":"4f8df3f6.a49e7c","order":1,"disp":true,"width":"15"},{"id":"b88a372b.c24238","type":"ui_group","z":"","name":"Location Lookup","tab":"93210f40.92adb","order":5,"disp":true,"width":"15"},{"id":"93210f40.92adb","type":"ui_tab","z":"","name":"Hacker Tracker","icon":"dashboard"},{"id":"4f8df3f6.a49e7c","type":"ui_tab","z":"","name":"Repairs","icon":"dashboard"}]
